<%= render :partial => 'layouts/header' %>
<% if current_user.id.to_s == params[:user_id] %>
<div class="container">
	<div class= "text-center">
	<h1>投稿詳細</h1>
	</div>
	<div class="row row-md-10">
		<div class="col col-lg-1">
		</div>
		<div class="col col-md-6">
			<div class="post-show">
				<p class="p1">投稿日時</p>
				<span><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
				<p class="p1">画像</p>
				<span><%= attachment_image_tag @post, :post_image, width:"300px" %></span></br>
				<p class="p1">トレーニング内容</p>
				<span><%= @post.post_content %></span>

				<% if @post.favorited_by?(current_user) %>
				  <li>
				  	<p class="p1">
				    <%= link_to  publics_user_post_favorites_path(post_id:@post.id), method: :delete do %>
				      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				      <%= @post.favorites.count %> いいね
				    </p>
				    <% end %>
				  </li>
				<% else %>
				  <li>
				    <p class="p1"><%= link_to  publics_user_post_favorites_path(post_id:@post.id), method: :post do %>
				      <i class="fa fa-heart-o" aria-hidden="true"></i>
				      <%= @post.favorites.count %> いいね
				    <% end %>
					</p>
				  </li>
				<% end %>
			
			
					<li>
					  <p class="p1"><i class="fa fa-comment"></i>
					  <%= @post.comments.count %>
					  </p>
					</li>
					<p class="p1">
					<%= link_to '投稿を削除', publics_user_post_path, class:"btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
					</p>
			</div>
		</div>
		<div class="col col-md-5">
				<div class="comment-list bt style-2" id="comments">
				    <div class="float-wrapper">
				        <h2 class="comment-count"><%= @post.comments.count %>件コメント</h2>
				    </div>
					<ol>
					    <% @post.comments.each do |post_comment| %>
					        <li class="comment">
					            <div class="comment-body bb">
					                <div class="comment-avatar">
					                    
					                </div>
					                <div class="comment-text">
					                    <div class="comment-author clearfix">
					                       <%= post_comment.user.name %>
					                        <span class="comment-meta">
					                          <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
					                        </span>
					                    </div>
					                    <div class="comment-entry"><%= post_comment.comment_content %></div>
					                </div>
					            </div>
					        </li>
					    <% end %>
					     <%= paginate @comments %>
					</ol>
		</div>
			
     
		
	</div>
</div>
<% else %>
<div class="container">
<div class= "text-center">
<h1>投稿詳細</h1>
</div>
	<div class="row row-md-10">
			<div class="col col-lg-1">
			</div>
			<div class="col col-md-6">
				<div class="post-show">
					<p class="p1">投稿日時</p>
					<span><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></span>
					<p class="p1">画像</p>
					<span><%= attachment_image_tag @post, :post_image, width:"300px" %></span>
					<p class="p1">トレーニング内容</p>
					<span><%= @post.post_content %></span>

					<% if @post.favorited_by?(current_user) %>
					  <li>
					  	<p class="p1">
					    <%= link_to  publics_user_post_favorites_path(post_id:@post.id), method: :delete do %>
					      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					      <%= @post.favorites.count %> いいね
					  	</p>
					    <% end %>
					  </li>
					<% else %>
					  <li>
					  	<p class="p1">
					    <%= link_to  publics_user_post_favorites_path(post_id:@post.id), method: :post do %>
					      <i class="fa fa-heart-o" aria-hidden="true"></i>
					      <%= @post.favorites.count %> いいね
					    <% end %>
						</p>
					  </li>
					<% end %>

					<li>
					  <p class="p1">
					  <i class="fa fa-comment"></i>
					  <%= @post.comments.count %>
					  </p>
					</li>
				</div>
			</div>
			<div class="col col-md-5">

				<div class="comment-list bt style-2" id="comments">
				    <div class="float-wrapper">
				        <h2 class="comment-count"><%= @post.comments.count %>件コメント</h2>
				    </div>
					<ol>
					    <% @comments.each do |post_comment| %>
					        <li class="comment">
					            <div class="comment-body bb">
					                <div class="comment-avatar">
					                    
					                </div>
					                <div class="comment-text">
					                    <div class="comment-author clearfix">
					                        <%= post_comment.user.name %>
					                        <span class="comment-meta">
					                          <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
					                        </span>
					                    </div>
					                    <div class="comment-entry"><%= post_comment.comment_content %></div>
					                </div>
					            </div>
					        </li>
					    <% end %>
					    <%= paginate @comments %>
					</ol>

					<%= form_for [@post,@comment] , url: publics_user_post_comments_path(post_id:@post.id), method: :post do |f| %>
				    	
				        	<div class="col-sm-7">
				            <%= f.text_area :comment_content, rows:'3', class: "form-control",placeholder: "コメントをここに" %>
				            <div class="text-right">
				            <%= f.submit "コメントする", class:"btn btn-primary" %>
				        	</div>
				        	</div>
				    	
				    	
					<% end %>
				</div>
			</div>
	</div>
</div>
<% end %>
