<%= render :partial => 'layouts/header' %>
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <h1>ユーザー編集</h1>
        <%= form_for(@user, url: publics_user_path) do |f| %>
          <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name %>
          </div>


          <div class="field">
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :profile_image %>
          </div>

          <div class="field">
            <%= f.label :身長 %><br />
            <%= f.text_field :tall %>
          </div>

          <div class="field">
            <%= f.label :体重 %><br />
            <%= f.text_field :weight %>
          </div>

          <div class="field">
            <%= f.label :通っているジム %><br />
            <%= f.text_field :gym %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "編集する", class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
</div>