<%= render :partial => 'layouts/header' %>

<div class="container">
<h2>ユーザー一覧</h2>
<div class="row">
    <div class="col col-lg-2">
    </div>
     <div class="col col-lg-8">
	<table class="table table-striped">
	<span><%= form_tag publics_users_path ,:method => 'get' do %>
          <%= text_field_tag :search, params[:search] ,placeholder:"ジム名で検索" %>
          <%= submit_tag " 検索　", :gym => nil %>
          <% end %></span>
	<thead>
		<tr>
			
		</tr>
	</thead>
	
		<tbody>
			<tr>
				<% @users.each do |f| %>
					<td>
						<div class = "image">
						<span><%= attachment_image_tag f, :profile_image, width:"100px" %></span>
						</div>
					
						<div class = "name"><%= link_to publics_user_path(f.id) do %>
						<span><%= f.name %></span>
						<% end %>
						</div>
					

						<div class = "following">
						<p><%= "フォロー: #{f.follower.count}" %></p>
						</div>
						<div class = "followed">
						<p><%= "フォロワー: #{f.followed.count}" %></p>
						</div>
					
						<div class = "gym">
							<p><%= f.gym %></p>
						</div>
					</td>
			</tr>
			<% end %>
		</tbody>

</table>
<%= paginate @users %>
