<html>
  <head>
    <title>LetsExercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/50e1df26d8.js" crossorigin="anonymous"></script>
  </head>

      <header id="header" class="">
        <div class="header-top">
          <nav class="nav navbar-nav navbar-left nav-position">
          <span><%= link_to "Let's Exercise", root_path,  class:"nav-title" %></span>
          </nav>
          <nav class="nav-right">
          <span><%= current_user.name %>がログインしています</span><br>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <%= link_to "マイページ", publics_user_path(current_user), class:"btn btn-default" %>
              </li>
              <li role="presentation" class="active">
                <%= link_to "投稿一覧", publics_posts_path, class:"btn btn-default" %>
              </li>
              <li role="presentation" class="active"><%= link_to '通知', publics_notifications_path, class:"btn btn-default"  %>
                
              </li>
              <li role="presentation" class="active">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-default" %>
              </li>
            </ul>
          </nav>
        </div>
      </header>
</html>